* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", serif;
}

/* NAVBAR */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: #F7EED3;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); */
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header a img {
    width: 80%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: #674636;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    background: #674636;
    position: absolute;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* pop up */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
}

.donation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 25px;
}

.donation-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.modal-content h3 {
    margin: 15px;
    margin-bottom: 25px;
    color: #674636;
}

.donation-content label {
    /* background-color: rebeccapurple; */
    text-align: left;
}

.donation-content button {
    font-family: "Quicksand", serif;
    border: none;
    background-color: #AAB396;
    padding: 10px 25px;
    border-radius: 3px;
    width: 160px;
    margin-top: 10px;
}

.donation-content select {
    font-family: "Quicksand", serif;
    border-radius: 3px;
    padding: 15px 25px;
    width: 220px;
    border: 0;
    height: 50px;
    background-color: #F7EED3;
}

input {
    font-family: "Quicksand", serif;
    border-radius: 3px;
    padding: 15px 25px;
    width: 170px;
    height: 20px;
    border: 0;
    background-color: #F7EED3;
}

/* Home */

.first-card {
    background-color: #F7EED3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.first-card h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: #674636;
}

.first-card p {
    font-size: 21px;
}

.first-card button{
    background-color: #AAB396;
    border: 0;
    margin-top: 30px;
    padding: 12px 23px;
    border-radius: 5px;
}

.first-card button a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.container-1 {
     display: flex;
     justify-content: center;
     margin-top: 48px;
}

.container-1 .c12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    gap: 20px;
    background-color: #F7EED3;
    width: 391px;
    height: 493px;
}

.container-1 .c12 h2 {
    font-size: 32px;
    color: #674636;
}

.container-1 .c12 p {
    color: black;
    font-size: 16px;
}

.container-1 .c12 .button-style-main {
    /* background-color: red; */
    display: flex;
    gap: 20px;
    align-items: center;
}

.container-1 .c12 button {
    width: 110px;
    background-color: #AAB396;
    border: 0;
    /* margin-top: 10px; */
    padding: 12px 23px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
}

.container-1 .c12 button a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.container-2 {
    display: flex;
    justify-content: center;
}

.container-2 .c22 .button-style-main {
    /* background-color: red; */
    display: flex;
    gap: 20px;
    align-items: center;
}

.container-2 .c22 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    gap: 20px;
    background-color: #F7EED3;
    width: 391px;
    height: 493px;
}

.container-2 .c22 h2 {
    font-size: 32px;
    color: #674636;
}

.container-2 .c22 p {
    color: black;
    font-size: 16px;
}

.container-2 .c22 button {
    width: 110px;
    background-color: #AAB396;
    border: 0;
    /* margin-top: 10px; */
    padding: 12px 23px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
}

.container-2 .c22 button a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}


footer {
    background-color: #674636;
    height: 300px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 0 300px;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-plus {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1110px;
    background-color: black;
}


.footer-plus a {
    text-decoration: none;
    color: white;
}

.footer-plus p {
    color: white;
}


/* event */
.header1 {
    /* background-color: red; */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 700px;
    margin-top: 50px;
}

.header1 h2 {
    margin-bottom: 25px;
    color: #674636;
}

.header1 p {
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.form-style {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
}

.form-style input {
    font-family: "Quicksand", serif;
    border-radius: 3px;
    padding: 15px 25px;
    width: 170px;
    border: 0;
    background-color: #F7EED3;
}

.upload-file {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.upload-file input {
    font-family: "Quicksand", serif;
    display: none;
}

.upload-file .file-style {
    border-radius: 3px;
    padding: 9px 25px;
    border: 1px solid black;
    background-color: white;
    font-size: 13px;
}

.form-style-2 {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
}

.form-style-2 textarea {
    font-family: "Quicksand", serif;
    border-radius: 3px;
    padding: 15px 25px;
    border: 0;
    background-color: #F7EED3;
    width: 465px;
    height: 100px;
    resize: none;
}

.form button {
    font-family: "Quicksand", serif;
    border: none;
    background-color: #AAB396;
    padding: 10px 25px;
    border-radius: 3px;
}

/* history */
.title {
    display: flex;
    background-color: #FFF8E8;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: #674636;
}

.history-content {
    /* background-color: rebeccapurple; */
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 100px 500px;
    height: 150px;
}

.history-content button {
    border-radius: 3px;
    padding: 9px 15px;
    border: 1px solid black;
    background-color: white;
    font-size: 13px;
    width: 115px;
}

/* --- */
.history-content.empty-state {
    text-align: center;
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 600px;
  }
  
  .history-content.empty-state h2 {
    margin-bottom: 16px;
    color: #674636;
  }
  
  .history-content.empty-state p {
    margin-bottom: 24px;
    color: black;
  }
  
  .history-content.empty-state button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .history-content.empty-state button:hover {
    background-color: #45a049;
  }

/* archive */

.card-archive { 
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
}

.card-archive .card-content {
    margin-bottom: 40px;
}

.card-archive .card-content .money-style {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

@media (max-width: 768px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -315px;
        height: 100vh;
        width: 300px;
        background-color: #F7EED3;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #about-home {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 100px 50px 50px 50px;
    }

    #about-home p {
        color: black;
        text-align: justify;
        margin-top: 15px;
    } 

    #container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-bottom: 30px;
    }
}